@model List<Product>
@{
    int productCount = 0; 
    int maxProductCount = 4; 
}
<!-- This site is optimized with the Yoast SEO plugin v20.8 - https://yoast.com/wordpress/plugins/seo/ -->
<title>fabooks - takvimler, planlayıcılar, günlükler ve hediyeler</title>
<meta name="description" content="fabooks: Yaz, Eğlen, Keşfet. En özel takvimler, ajandalar ve planlayıcılar, günlükler ve hediyeler. Sevdikleriniz için özel gün hediyeleri." />
<link rel="canonical" href="index.html" />
<meta property="og:locale" content="tr_TR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="fabooks - takvimler, planlayıcılar, günlükler ve hediyeler" />
<meta property="og:description" content="fabooks: Yaz, Eğlen, Keşfet. En özel takvimler, ajandalar ve planlayıcılar, günlükler ve hediyeler. Sevdikleriniz için özel gün hediyeleri." />
<meta property="og:url" content="index.html" />
<meta property="og:site_name" content="fabooks" />
<meta property="article:modified_time" content="2021-11-25T09:47:18+00:00" />
<meta property="og:image" content="~/assets/wp-content/uploads/2020/05/fabooks-social.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="~/assets/wp-content/uploads/2020/05/fabooks-social.png" />
<meta name="twitter:label1" content="Tahmini okuma süresi" />
<meta name="twitter:data1" content="3 dakika" />
<script type="application/ld+json" class="yoast-schema-graph">{"@@context":"https://schema.org","@@graph":[{"@@type":"WebPage","@@id":"https://fabooks.com.tr/","url":"https://fabooks.com.tr/","name":"fabooks - takvimler, planlayıcılar, günlükler ve hediyeler","isPartOf":{"@@id":"https://fabooks.com.tr/#website"},"about":{"@@id":"https://fabooks.com.tr/#organization"},"datePublished":"2017-12-19T15:12:24+00:00","dateModified":"2021-11-25T09:47:18+00:00","description":"fabooks: Yaz, Eğlen, Keşfet. En özel takvimler, ajandalar ve planlayıcılar, günlükler ve hediyeler. Sevdikleriniz için özel gün hediyeleri.","breadcrumb":{"@@id":"https://fabooks.com.tr/#breadcrumb"},"inLanguage":"tr","potentialAction":[{"@@type":"ReadAction","target":["https://fabooks.com.tr/"]}]},{"@@type":"BreadcrumbList","@@id":"https://fabooks.com.tr/#breadcrumb","itemListElement":[{"@@type":"ListItem","position":1,"name":"Ana sayfa"}]},{"@@type":"WebSite","@@id":"https://fabooks.com.tr/#website","url":"https://fabooks.com.tr/","name":"fabooks","description":"Takvimler, Planlayıcılar, Günlükler ve Hediyeler","publisher":{"@@id":"https://fabooks.com.tr/#organization"},"potentialAction":[{"@@type":"SearchAction","target":{"@@type":"EntryPoint","urlTemplate":"https://fabooks.com.tr/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"tr"},{"@@type":"Organization","@@id":"https://fabooks.com.tr/#organization","name":"fabooks","url":"https://fabooks.com.tr/","logo":{"@@type":"ImageObject","inLanguage":"tr","@@id":"https://fabooks.com.tr/#/schema/logo/image/","url":"https://fabooks.com.tr/wp-content/uploads/2020/05/fabooks-mail.png","contentUrl":"https://fabooks.com.tr/wp-content/uploads/2020/05/fabooks-mail.png","width":150,"height":34,"caption":"fabooks"},"image":{"@@id":"https://fabooks.com.tr/#/schema/logo/image/"}}]}</script>
<!-- / Yoast SEO plugin. -->



<div class="main-page-wrapper">

    <!-- MAIN CONTENT AREA -->
    <div class="container">
        <div class="row content-layout-wrapper align-items-start">

            <div class="site-content col-lg-12 col-12 col-md-12" role="main">

                <article id="post-1218" class="post-1218 page type-page status-publish hentry">

                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1589649003222 vc_row-no-padding">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <!-- START Slider 1 1 REVOLUTION SLIDER 6.2.23 --><p class="rs-p-wp-fix"></p>
                                        <rs-module-wrap id="rev_slider_43_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                                            <rs-module id="rev_slider_43_1" style="" data-version="6.2.23">
                                                <rs-slides>
                                                    <rs-slide data-key="rs-111" data-title="Slide" data-link="//fabooks.com.tr/kategori/yeni/" data-target="_self" data-seoz="front" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                                                        <img src="~/assets/wp-content/uploads/2022/03/bgtr.jpg" title="İndirim" width="1926" height="820" class="rev-slidebg" data-no-retina>
                                                        <!--
                                                                                    -->
                                                        <a id="slider-43-slide-111-layer-2"
                                                           class="rs-layer"
                                                           asp-controller="Mağaza" asp-action="Yeni" target="_self"
                                                           data-type="image"
                                                           data-rsp_ch="on"
                                                           data-xy="x:c;y:m;"
                                                           data-text="w:normal;s:20,10,7,4;l:0,13,9,6;"
                                                           data-dim="w:1927px,1422px,1445px,1229px;h:820px,605px,615px,523px;"
                                                           data-frame_999="o:0;st:w;"
                                                           style="z-index:8;">
                                                            <img src="~/assets/wp-content/uploads/2022/11/fabooks_big_banner_tr.png" width="1927" height="820" data-no-retina>
                                                        </a>
                                                        <!--
                                                        -->
                                                    </rs-slide>
                                                </rs-slides>
                                            </rs-module>
                                            <script type="text/javascript">setREVStartSize({ c: 'rev_slider_43_1', rl: [1240, 1024, 778, 480], el: [821, 600, 600, 500], gw: [1920, 1024, 778, 480], gh: [821, 600, 600, 500], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" });
                                                var revapi43,
                                                    tpj;
                                                function revinit_revslider431() {
                                                    jQuery(function () {
                                                        tpj = jQuery;
                                                        revapi43 = tpj("#rev_slider_43_1");
                                                        if (revapi43 == undefined || revapi43.revolution == undefined) {
                                                            revslider_showDoubleJqueryError("rev_slider_43_1");
                                                        } else {
                                                            revapi43.revolution({
                                                                sliderLayout: "fullwidth",
                                                                visibilityLevels: "1240,1024,778,480",
                                                                gridwidth: "1920,1024,778,480",
                                                                gridheight: "821,600,600,500",
                                                                spinner: "spinner0",
                                                                perspective: 600,
                                                                perspectiveType: "local",
                                                                editorheight: "821,600,600,500",
                                                                responsiveLevels: "1240,1024,778,480",
                                                                progressBar: { disableProgressBar: true },
                                                                navigation: {
                                                                    onHoverStop: false
                                                                },
                                                                fallbacks: {
                                                                    allowHTML5AutoPlayOnAndroid: true
                                                                },
                                                            });
                                                        }

                                                    });
                                                } // End of RevInitScript
                                                var once_revslider431 = false;
                                                if (document.readyState === "loading") { document.addEventListener('readystatechange', function () { if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider431) { once_revslider431 = true; revinit_revslider431(); } }); } else { once_revslider431 = true; revinit_revslider431(); }</script>
                                        </rs-module-wrap>
                                        <!-- END REVOLUTION SLIDER -->
                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1579819963197">
                            <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-lg-6 vc_col-md-8 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                <div class="vc_column-inner vc_custom_1589398882497">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-619f518631c66" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-default  cursor-pointer">
                                                <a href="@Url.Action("Yeni", "Mağaza")">
                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img width="600" height="600" src="~/assets/wp-content/uploads/2021/11/600x600_newarrivals_TR.png" class="promo-banner-image image-1 attachment-full" alt="" decoding="async" loading="lazy" srcset="https://fabooks.com.tr/wp-content/uploads/2021/11/600x600_newarrivals_TR.png 600w, https://fabooks.com.tr/wp-content/uploads/2021/11/600x600_newarrivals_TR-300x300.png 300w, https://fabooks.com.tr/wp-content/uploads/2021/11/600x600_newarrivals_TR-150x150.png 150w, https://fabooks.com.tr/wp-content/uploads/2021/11/600x600_newarrivals_TR-100x100.png 100w" sizes="(max-width: 600px) 100vw, 600px" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-50">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                <div class="vc_column-inner vc_custom_1589398874223">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-619f51bb850d4" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-link  cursor-pointer">
                                                <a href="@Url.Action("Defterler", "Mağaza")">

                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img width="849" height="849" src="~/assets/wp-content/uploads/2021/11/283x283_Notebooks_TR.jpg" class="promo-banner-image image-1 attachment-full" alt="Defterler" decoding="async" loading="lazy" srcset="https://fabooks.com.tr/wp-content/uploads/2021/11/283x283_Notebooks_TR.jpg 849w, https://fabooks.com.tr/wp-content/uploads/2021/11/283x283_Notebooks_TR-300x300.jpg 300w, https://fabooks.com.tr/wp-content/uploads/2021/11/283x283_Notebooks_TR-150x150.jpg 150w, https://fabooks.com.tr/wp-content/uploads/2021/11/283x283_Notebooks_TR-768x768.jpg 768w, https://fabooks.com.tr/wp-content/uploads/2021/11/283x283_Notebooks_TR-100x100.jpg 100w" sizes="(max-width: 849px) 100vw, 849px" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-100">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>		<div class="promo-banner-wrapper">
                                            <div id="wd-5eb81edd294f1" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-link  cursor-pointer">
                                                <a href="@Url.Action("TümHediyeler", "Hediyeler")">
                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img width="600" height="600" src="~/assets/wp-content/uploads/2020/05/hediyeler.jpg" class="promo-banner-image image-1 attachment-full" alt="Hediyeler" decoding="async" loading="lazy" srcset="https://fabooks.com.tr/wp-content/uploads/2020/05/hediyeler.jpg 600w, https://fabooks.com.tr/wp-content/uploads/2020/05/hediyeler-300x300.jpg 300w, https://fabooks.com.tr/wp-content/uploads/2020/05/hediyeler-150x150.jpg 150w, https://fabooks.com.tr/wp-content/uploads/2020/05/hediyeler-100x100.jpg 100w" sizes="(max-width: 600px) 100vw, 600px" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-100">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-3 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                <div class="vc_column-inner vc_custom_1513693408339">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-619f5228433e1" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-default  cursor-pointer">
                                                <a href="@Url.Action("Ajandalar", "Mağaza")">
                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img class="promo-banner-image image-1 " src="~/assets/wp-content/uploads/2021/11/283X585_Agendas_TR.png" width="283" height="585" alt="Ajandalar" title="Ajandalar ve Planlayıcılar" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-100">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column pr-left vc_column_container vc_col-sm-6 vc_hidden-lg">
                                <div class="vc_column-inner vc_custom_1589400544403">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-619f5b538572d" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-default  cursor-pointer" onclick="window.location.href='kategori/yeni/index.html'">
                                                <a href="@Url.Action("Yeni", "Mağaza")">
                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img class="promo-banner-image image-1 " src="~/assets/wp-content/uploads/2021/11/600x600_newarrivals_TR-1152x556.jpg" width="1152" height="556" alt="Taze Gelen Ürünler" title="Taze Gelen Ürünler" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-50">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><div class="wpb_column pr-right vc_column_container vc_col-sm-6 vc_hidden-lg">
                                <div class="vc_column-inner vc_custom_1589400552762">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-619f5b7a7fba4" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-link  cursor-pointer">
                                                <a href="@Url.Action("Defterler", "Mağaza")">

                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img class="promo-banner-image image-1 " src="~/assets/wp-content/uploads/2021/11/586x283_notebooks_TR-1152x556.jpg" width="1152" height="556" alt="Defterler" title="Defterler" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-100">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column pr-left vc_column_container vc_col-sm-6 vc_hidden-lg">
                                <div class="vc_column-inner vc_custom_1589400558672">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-5ebc53a5e9ee4" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-link  cursor-pointer">
                                                <a href="@Url.Action("TümHediyeler", "Hediyeler")">
                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img class="promo-banner-image image-1 " src="~/assets/wp-content/uploads/2020/05/hediyeler_yatay.jpg" width="600" height="290" alt="Hediyeler" title="Hediyeler" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-100">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div><div class="wpb_column pr-right vc_column_container vc_col-sm-6 vc_hidden-lg">
                                <div class="vc_column-inner vc_custom_1589400564890">
                                    <div class="wpb_wrapper">
                                        <div class="promo-banner-wrapper">
                                            <div id="wd-619f5b91d7b8d" class="promo-banner banner-vr-align-top banner-hr-align-left banner- banner-hover-none color-scheme-dark banner-btn-size-default banner-btn-style-default  cursor-pointer">
                                                <a href="@Url.Action("Ajandalar", "Mağaza")">
                                                    <div class="main-wrapp-img">
                                                        <div class="banner-image">
                                                            <img class="promo-banner-image image-1 " src="~/assets/wp-content/uploads/2021/11/283X585_Agendas_TR-1152x556.jpg" width="1152" height="556" alt="Ajandalar ve Planlayıcılar" title="Ajandalar ve Planlayıcılar" />
                                                        </div>
                                                    </div>

                                                    <div class="wrapper-content-banner ">
                                                        <div class="content-banner text-left content-width-50">
                                                            <div class="banner-title-wrap banner-title-custom"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1505907859058 vc_row-has-fill woodmart-disable-overflow woodmart-bg-left-bottom">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1496220834961">
                                    <div class="wpb_wrapper">
                                        <div id="wd-5eac62a03b2ff" class="title-wrapper  woodmart-title-color-primary woodmart-title-style-image woodmart-title-width-100 text-center woodmart-title-size-medium vc_custom_1588355955419">

                                            <div class="liner-continer">
                                                <span class="left-line"></span>
                                                <h4 class="woodmart-title-container title  woodmart-font-weight-">YENİ GELENLER</h4>									<span class="img-wrapper"><img class="" src="~/assets/wp-content/uploads/2020/05/sec-div.png" width="169" height="27" alt="sec-div" title="sec-div" /></span>								<span class="right-line"></span>
                                            </div>


                                        </div>

                                        <div id="wd-648b3f7eed49d" class="woodmart-products-tabs active-tab-title tabs-wd-648b3f7eed49d tabs-design-default ">
                                            <div class="woodmart-tabs-header text-center">
                                                <div class="woodmart-tabs-loader"></div>
                                                <div class="tabs-navigation-wrapper">
                                                    <span class="open-title-menu"></span>
                                                    <ul class="products-tabs-title"></ul>
                                                </div>
                                            </div>
                                            <div class="woodmart-tab-content">

                                                <div class="woodmart-products-element">
                                                    <div class="products elements-grid align-items-start row woodmart-products-holder  woodmart-spacing-30 grid-columns-4 pagination- title-line-two" data-paged="1" data-atts="{&quot;element_title&quot;:&quot;&quot;,&quot;post_type&quot;:&quot;product&quot;,&quot;layout&quot;:&quot;grid&quot;,&quot;include&quot;:&quot;&quot;,&quot;custom_query&quot;:&quot;&quot;,&quot;taxonomies&quot;:&quot;72&quot;,&quot;pagination&quot;:&quot;&quot;,&quot;items_per_page&quot;:&quot;4&quot;,&quot;product_hover&quot;:&quot;icons&quot;,&quot;spacing&quot;:&quot;30&quot;,&quot;columns&quot;:&quot;4&quot;,&quot;sale_countdown&quot;:&quot;0&quot;,&quot;stock_progress_bar&quot;:&quot;0&quot;,&quot;highlighted_products&quot;:0,&quot;products_bordered_grid&quot;:&quot;0&quot;,&quot;offset&quot;:&quot;&quot;,&quot;orderby&quot;:&quot;date&quot;,&quot;query_type&quot;:&quot;OR&quot;,&quot;order&quot;:&quot;DESC&quot;,&quot;meta_key&quot;:&quot;&quot;,&quot;exclude&quot;:&quot;&quot;,&quot;class&quot;:&quot;&quot;,&quot;ajax_page&quot;:&quot;&quot;,&quot;speed&quot;:&quot;5000&quot;,&quot;slides_per_view&quot;:&quot;4&quot;,&quot;wrap&quot;:&quot;&quot;,&quot;autoplay&quot;:&quot;no&quot;,&quot;center_mode&quot;:&quot;no&quot;,&quot;hide_pagination_control&quot;:&quot;&quot;,&quot;hide_prev_next_buttons&quot;:&quot;&quot;,&quot;scroll_per_page&quot;:&quot;yes&quot;,&quot;carousel_js_inline&quot;:&quot;yes&quot;,&quot;img_size&quot;:&quot;275x358&quot;,&quot;force_not_ajax&quot;:&quot;no&quot;,&quot;products_masonry&quot;:&quot;&quot;,&quot;products_different_sizes&quot;:&quot;&quot;,&quot;lazy_loading&quot;:&quot;yes&quot;,&quot;scroll_carousel_init&quot;:&quot;no&quot;,&quot;el_class&quot;:&quot;&quot;}" data-source="shortcode">


                                                        @foreach (Product product in Model)
                                                        {
                                                            @if (productCount >= maxProductCount)
                                                            {
                                                                break;
                                                            }
                                                        <div class="product-grid-item wd-with-labels product woodmart-hover-icons  col-md-3 col-sm-4 col-6 first  type-product post-13797 status-publish first instock product_cat-takvimler product_cat-yeni has-post-thumbnail sale shipping-taxable purchasable product-type-simple" data-loop="1" data-id="13797">

                                                            
                                                            <div class="product-element-top">
                                                                <a asp-controller="About" asp-action="Urun" asp-route-id="@product.Id" class="product-image-link">
                                                                    @if (product.Stock == 0 && product.DiscountPercent == null)
                                                                    {
                                                                        <div class="product-labels labels-rectangular">
                                                                            <span class="out-of-stock product-label">Tükendi</span>
                                                                        </div>
                                                                    }
                                                                    else if (product.Stock == 0)
                                                                    {
                                                                        <div class="product-labels labels-rectangular">
                                                                            <span class="out-of-stock product-label">Tükendi</span>
                                                                        </div>
                                                                    }
                                                                    else if (product.DiscountPercent != null)
                                                                    {
                                                                        <div class="product-labels labels-rectangular">
                                                                            <span class="onsale product-label">- @product.DiscountPercent %</span>
                                                                        </div>
                                                                    }


                                                                    @foreach (var image in product.ProductImage)
                                                                    {
                                                                        if (image.PrimaryImage)
                                                                        {
                                                                            <img class="woodmart-lazy-load woodmart-lazy-fade content-product-image" src="@image.ImagePath" data-wood-src="@Url.Content(image.ImagePath)" width="231" height="300" alt="0" title="0" />
                                                                        }
                                                                    }

                                                                </a>
                                                                <div class="hover-img">
                                                                    <a asp-controller="About" asp-action="Urun" asp-route-id="@product.Id">
                                                                        @foreach (var image in product.ProductImage)
                                                                        {
                                                                            if (image.SecondaryImage)
                                                                            {
                                                                                <img class="woodmart-lazy-load woodmart-lazy-fade content-product-image" src="@image.ImagePath" data-wood-src="@Url.Content(image.ImagePath)" width="231" height="300" alt="1" title="1" />
                                                                            }
                                                                        }
                                                                        
                                                                    </a>
                                                                </div>


                                                                <div class="wrapp-buttons">
                                                                    <div class="woodmart-buttons">
                                                                        <div class="woodmart-add-btn wd-action-btn wd-style-icon wd-add-cart-btn">
                                                                            <a href="index245a.html?add-to-cart=13797" data-quantity="1" class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart add-to-cart-loop" data-product_id="13797" data-product_sku="44578" aria-label="&ldquo;@product.Name &rdquo; ürününü sepete ekle" rel="nofollow"><span>Sepete Ekle</span></a>			<input type="hidden" class="wpmProductId" data-id="13797">
                                                                            <script>(window.wpmDataLayer = window.wpmDataLayer || {}).products = window.wpmDataLayer.products || {}
                                                                                    window.wpmDataLayer.products[13797] = { "id": "@product.Id", "sku": "44578", "price": @product.Price, "brand": "", "quantity": @product.Stock, "dyn_r_ids": { "post_id": "13797", "sku": "44578", "gpf": "woocommerce_gpf_13797", "gla": "gla_13797" }, "isVariable": false, "name": "@product.Name", "category": ["@product.Category"], "isVariation": false };
                                                                                    window.wpmDataLayer.products[13797]['position'] = window.wpmDataLayer.position++</script>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="quick-shop-wrapper">
                                                                    <div class="quick-shop-close wd-cross-button wd-size-s wd-with-text-left"><span>Kapat</span></div>
                                                                    <div class="quick-shop-form">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h3 class="product-title"><a asp-controller="About" asp-action="Urun" asp-route-id="@product.Id">@product.Name</a></h3>
                                                            <span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#8378;</span>@product.Price</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#8378;</span>@product.DiscountedPrice</bdi></span></ins></span>


                                                        </div>
                                                                productCount++;
                                                            }

                                                    </div>

                                                    <div class="products-footer">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1579865669836 vc_row-has-fill vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1506081843137">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">

                                            <figure class="wpb_wrapper vc_figure">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="~/assets/wp-content/uploads/2020/04/fabooks-logo-160x36.png" width="160" height="36" alt="Fabooks Logo" title="Fabooks Logo" /></div>
                                            </figure>
                                        </div>

                                        <div id="wd-5eac8959d3313" class="woodmart-text-block-wrapper color-scheme-custom woodmart-title-size-custom woodmart-title-width-80 text-center ">
                                            <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-">
                                                </p>
                                                <p style="text-align: center;">
                                                    KAYIT OL, TAKİP ET<br />
                                                    YENİ ÜRÜNLERİ KAÇIRMA!
                                                </p>
                                                <p>
                                            </div>

                                        </div>

                                        <div class="wpb_text_column wpb_content_element vc_custom_1589329658458">
                                            <div class="wpb_wrapper">

                                                <div class="wpcf7 no-js" id="wpcf7-f4775-p1218-o1" lang="tr-TR" dir="ltr">
                                                    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                    <form action="https://fabooks.com.tr/#wpcf7-f4775-p1218-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="4775" />
                                                            <input type="hidden" name="_wpcf7_version" value="5.7.7" />
                                                            <input type="hidden" name="_wpcf7_locale" value="tr_TR" />
                                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4775-p1218-o1" />
                                                            <input type="hidden" name="_wpcf7_container_post" value="1218" />
                                                            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                        </div>
                                                        <div class="row bulten-kayit">
                                                            <div class="col-md-3">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>
                                                                    <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-Posta Adresiniz" value="" type="email" name="your-email" /></span><input class="wpcf7-form-control has-spinner wpcf7-submit btn-color-black" type="submit" value="KAYIT OL" />
                                                                </p>
                                                            </div>
                                                            <div class="col-md-3">
                                                            </div>
                                                        </div><div class="wpcf7-response-output" aria-hidden="true"></div>
                                                    </form>
                                                </div>


                                            </div>
                                        </div>

                                        <div class="woodmart-social-icons text-center icons-design-bordered icons-size-small color-scheme-dark social-follow social-form-circle">
                                            <a rel="nofollow" href="https://www.facebook.com/FabooksYayinlari" target="_blank" class=" woodmart-social-icon social-facebook">
                                                <i class="fa fa-facebook"></i>
                                                <span class="woodmart-social-icon-name">Facebook</span>
                                            </a>

                                            <a rel="nofollow" href="https://twitter.com/FAbooks_" target="_blank" class=" woodmart-social-icon social-twitter">
                                                <i class="fa fa-twitter"></i>
                                                <span class="woodmart-social-icon-name">Twitter</span>
                                            </a>


                                            <a rel="nofollow" href="https://www.instagram.com/fabooks_official/" target="_blank" class=" woodmart-social-icon social-instagram">
                                                <i class="fa fa-instagram"></i>
                                                <span class="woodmart-social-icon-name">Instagram</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><div class="vc_row-full-width vc_clearfix"></div>
                    </div>


                </article><!-- #post -->



            </div><!-- .site-content -->

        </div><!-- .main-page-wrapper -->
    </div> <!-- end row -->
</div> <!-- end container -->
